:root {
    /* Primary */
    --Navy-950: hsl(233, 47%, 7%);
    --Blue-950: hsl(244, 37%, 16%);
    --Purple-500: hsl(277, 64%, 61%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --main-paragraph-white: hsla(0, 0%, 100%, 0.75);
    --stat-headings-white: hsla(0, 0%, 100%, 0.6);
}

body {
    font-family: "Inter", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
}

dd {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

p {
    font-size: 0.938rem; /* 15px */
}

.stats-preview-card {
    width: 327px;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
